@import url("https://fonts.googleapis.com/css?family=Gaegu&display=swap");

body {
  font-family: 'Gaegu', cursive;
  font: 20px/1.6;
  background-color: rgb(243, 188, 70)
}



.banner {
  position: relative;
  height: 100vh;
  background: no-repeat center/cover; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center;   */
}

.banner > *:not(.skiing) {
  font-weight: 900;
  letter-spacing: -0.05em;
  padding: 10px 15px;
  /* background: #ffc844; */
}

.main-title{
  margin-left:90px;
  font-size:5rem;
  z-index: 10;
}

.banner-title {
  color: black;
  font-size: 3em;
  margin-bottom: -0.5em;
  transform: rotate(-3deg);
}

.banner-subtitle {
  font-size: 1.5em;
  color:darkgrey;
  /* box-shadow: -15px -15px 15px rgba(0, 0, 0, 0.07); */
  transform: rotate(12deg);
}

.rabbit{
  position: absolute;
  right: 100px;
  bottom: 400px;
  max-width: 300px;
}

.kabu1{
  position: absolute;
  left: 100px;
  bottom: 400px;
  max-width: 280px;
}

.kabu{
  position: absolute;
  left: 100px;
  bottom: 400px;
  max-width: 400px;
}

.bumbble-bee{
  position: absolute;
  left: 1px;
  bottom: 400px;
  max-width: 300px;
}


.beet1{
  position: absolute;
  left: 400px;
  top:50px;
  max-width: 200px;
}

.lemon{
  position: absolute;
  left: 700px;
  top:40px;
  max-width: 200px;
}

.lemon1{
  position: absolute;
  left: 600px;
  top:20px;
  max-width: 100px;
}


.beet{
  position: absolute;
  left: 400px;
  bottom: 250px;
  max-width: 500px;
}

.carrot1 {
  position: absolute;
  right: 0.1px;
  bottom: 20px;
  max-width: 300px;
  z-index: -4;
}



.cabedge1 {
  position: absolute;
  right: 40px;
  top: 2px;
  max-width: 450px;
}

.ladybug{
  position: absolute;
  right: 40px;
  top: 200px;
  max-width: 100px;
  z-index: 1;
}

.chou{
  position: absolute;
  right: 140px;
  top: 300px;
  max-width: 150px;
  z-index: 1;
}


.cabedge {
  position: absolute;
  right: 40px;
  bottom: 20px;
  max-width: 450px;
}

.nasu {
  position: absolute;
  right:500px;
  bottom: 20px;
  max-width: 250px;

}

.rabbit {
  position: absolute;
   left: 20px; 
  bottom: 10px;
  max-width: 400px;
}

.carrot {
  position: absolute;
  left: 10px;
  bottom: 10px;
  max-width: 300px;
  z-index: -2;
}

.bee-left{
  position: absolute;
  top:800px;
  right: 800px;
  max-width: 200px;
}

.skiing3-1{
  position: relative;
  left: 300px;
  top:100px;
  max-width: 100px;
  z-index: 3;
}

.risu1
{
    position: absolute;
    right:400px;
    bottom: 1px; 
    max-width: 250px;
    z-index: -3;
  }

  .nut
{
  position: absolute;
  right:400px;
  bottom: 15px; 
  max-width: 85px;
} 

.risu
{
    position: absolute;
    right: 200px;
    bottom: 300px;
    max-width: 200px;
  }


.garlic-Large {
  position: absolute;
  right: 5px;
  top: 20px;
  max-width: 200px;
}



.bee-right {
  position: absolute;
  right: 5px;
  bottom: 20px;
  max-width: 150px;
}

.nasu-right {
  position: absolute;
  right: 800px;
  bottom: 20px;
  max-width: 150px;
  z-index: -1;
}


.content {
  position: relative;
  padding: 20px 0;
  background: white;
}



.container {
  max-width: 1100px;
  max-height: 300px;
  padding: 0 15px;
  margin: 0 auto;
}

.content p + p {
  margin-top: 25px;
}

footer {
  font-size: .85em;
  padding-bottom: 20px;
  text-align: right;
}

footer a {
  color: black;
  text-decoration: none;
}

/* Login  */

.ladybug-login{
  position: absolute;
  right: 300px;
  bottom: 150px;
  max-width: 150px;
  z-index: 2;
}


.dandelion-login{
  position: absolute;
  bottom:50px;
  max-width: 350px;
  right:130px;

}

.lavender-register{
  position: absolute;
  right: 200px;
  bottom: 40px;
  max-width: 400px;
}

.bee-register{
  position: absolute;
  right: 200px;
  bottom: 300px;
  max-width: 100px;
}

.h1letter{
  color:white;

}



@keyframes RightToLeft {
  0% {
    opacity: 0;/* 透明 */
    transform: translateX(100px);/* X軸方向に50px */
  }
  100% {
    opacity: 1;/* 不透明 */
    transform: translateX(0);
  }
}

/* 「RightToLeft」を適用する箇所 */
h1 {
  padding-left:90px;
  animation-duration: 4s;/* アニメーション時間 */
  animation-name: RightToLeft;/* アニメーション名 */
  /* animation-iteration-count: infinit; */
}


.falling{
  position: absolute;
  right: 5px;
  top:1px;
  max-width: 1000px;
  z-index: -2;
  opacity: 0.2;
}
/* scroll animation */

.scroll {
  padding-top: 70px;
}
.scroll span {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 40px;
  height: 45px;
  margin-left: -12px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  -webkit-animation: sdb 1.5s infinite;
  animation: sdb 1.5s infinite;
  box-sizing: border-box;
}

.box{
  position: fixed;
  left: 0;
  padding-left:23%;
  padding-top:4%;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  -webkit-transition: all 1.9s ease; /* 1.2秒でフェードアウト */
          transition: all 1.9s ease;
  color: #fff; /* ローディングアニメーションカラー */
   background-color: rgb(255, 242, 59)/* 背景カラー */
}

@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}




@media screen and (max-width: 650px) {
  body {
    font-size: 14px;
  }

  .cabedge1{
    max-width: 250px;
  }
  
  .kabu1{
    
    max-width: 160px;
  }
  
  .ladybug-login{
    position: absolute;
    right: 100px;
    max-width: 100px;
    bottom:50px;
  }

  .dandelion-login{
    position: absolute;
    max-width: 270px;
    bottom:1px;
    right:3px;
  
  }

  .lavender-register{
    position: absolute;
    right: 1px;
    bottom: 1px;
    max-width: 200px;
  }
  
  .bee-register{
    position: absolute;
    right: 10px;
    bottom: 80px;
    max-width: 70px;
  }

  .main-title{
    font-size:2rem;
  }
  
  .cabedge1 {
    position: absolute;
    right: 4px;
    top: 2px;
    max-width: 20px;
  }

  h1.letter-responsive{
    font-size:1.5rem;
    text-align: center;
  }
}